[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2
[submodule "edk2-libc"]
	path = edk2-libc
	url = https://github.com/tianocore/edk2-libc.git
[submodule "edk2-test"]
	path = edk2-test
	url = https://github.com/tianocore/edk2-test.git
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/tianocore/edk2-platforms
[submodule "edk2-non-osi"]
	path = edk2-non-osi
	url = https://github.com/tianocore/edk2-non-osi.git
[submodule "FSP"]
	path = FSP
	url = https://github.com/IntelFsp/FSP.git
